<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Worker Safety</title>
<!-- Meta Data -->
<meta charset="utf-8">
<meta name="description" content="Track a worker when he is registered in Attendence system">
<meta name="keywords" content="map,maps,mapit,gmaps,route,planning,preview,source,destination">
<meta name="author" content="AbhishekDhar">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../../stylesheets/sheet.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>